@media only screen and (max-width:1100px){
    footer{
        display: none;
    }
}


@media only screen and (max-width: 768px){

    body{
        background-color: #000;
    }


    nav ul{
        opacity: 0;
    }
    li a{
        font-size: 0.8rem;
        padding-top: 4px;
    }
    #btn-check{
        display: block;
        margin-right: 10px;
    }
    #btn-close{
        margin-right: 10px;
        padding: 0 6px;
    }

    // .merg{
    //     height: 50vh;
    // }

    #contact{
        height: 100vh;
        form{
            max-width: 100%;
            padding: 0 15px;

            input{
                width: 100%;
            }

            textarea{
                width: 100%;
            }

            input[type="submit"]{
                width: 49%;
            }
            input[type="reset"]{
                width: 49%;
            }
        }
    }

    #start ul li{
        opacity: 0;
    }
    #start main{
       top: 80px;
    }
    #start .navbtnwork{
        opacity: 1;
    }
    #layout1, #layout2, #layout3, #layout4, #layout5, #layout6{
        width: 100%;
        margin-bottom: 38px;
        margin-top: 0;
    }
    #layout1:hover, #layout2:hover, #layout3:hover, #layout4:hover, #layout5:hover, #layout6:hover{
        transform: scale(1.1) rotateY(360deg);    /* <- importan */
    }
}

@media only screen and (max-width:490px){

    .merg{
        top: 8px;
    }
    #start{
        top: 0px;
    }

    header{
        padding-top: 5px;
        height: 28px;
        background: none;
    }
    header .logo h1{
        font-size: 0.8rem;
    }
    #btn-check, #btn-close{
        font-size: 1.1rem;
    }
    nav ul{
        margin-top: -6px;
    }
    nav ul li a, #down-btn a h1, #start ul li a{
        font-size: 0.7rem;
    }
    #start ul{
        padding: 3px 10px;
        background: none;
    }
    #video1{
        height: 100%;
    }
    #video2{
        top: -3px;
    }

}

@media (max-width:450px){
    

    nav ul li a, #down-btn a h1, #start ul li a, #start ul li{
        font-size: 0.5rem;
    }

    ul li{
        padding-right: 11px !important;
    }
}