@mixin defaultBtn($borderColor, $fontSize, $BGColor, $color, $hoverBGColor, $hoverColor) {
    display: inline-block;
    border: 1px solid $borderColor;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: $fontSize;
    font-weight: 400;
    cursor: pointer;
    transition-duration: 0.5s;
    background-color: $BGColor;
    color: $color;
    text-decoration: none;

    &:hover {
        background-color: $hoverBGColor;
        color: $hoverColor;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 25px;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    // scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
}

@import "navigation";

/* main section starts here */
.main-content {

    .main-content-content {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        overflow: hidden;
    }
}

.main-content .left-side, .main-content .right-side {
width: 50%;
color: coral;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

.main-content .right-side {
text-align: right;
-webkit-box-align: end;
    -ms-flex-align: end;
        align-items: flex-end;
}

.main-content .left-side .text {
line-height: 158px;
font-size: 7rem;
font-weight: 600;
}

.main-content .left-side .white {
color: #fff;
}

.main-content .left-side .text h1 {
font-size: 7rem;
font-weight: 600;
}

.main-content .right-side .img img {
    width: 90%;
}

// scroll svg CSS
.scroll-svg-container {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 60px;
    width: 100%;
}

@import './scroll-arrow';

/* main content section ends here */

/* about section starts here */
.about-section {
    color: #fff;
    margin-bottom: 1rem;
    // scroll-margin-top: 100px;
    .about-container {
        width: 95%;
        max-width: 1280px;
        height: 100vh;
        margin: 0 auto;
        padding: 100px 0 0 0;
    }
    .about-title {
        margin-bottom: 0.75rem;
    }
    .about-description {
        width: 100%;
        max-width: 1052px;
        margin-bottom: 1rem;
        font-size: 1rem;
        line-height: 38px;
        strong {
            color: coral;
        }
    }
    .about-list {
        list-style-type: none;
        margin-bottom: 1rem;
        li {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
        li span {
            color: coral;
        }
        li a {
            color: inherit;
            text-decoration: none;
        }
    }
    .about-btn {
        @include defaultBtn(transparent, 0.8rem, #f0f0f0, #0f0f0f, red, #fff);
    }
}

// footer CSS
$waveImgPath: "../contact/img/wave.png";
@import '../css/footer';

.active {
    border: 1px solid cornflowerblue;
    border-radius: 12px;
    box-shadow: 0 0 5px 3px #fff;
    background-color: cornflowerblue;
    color: #fff;
}

/* animations starts here */
.nav_open {
    -webkit-animation: nav_open_anim 0.5s linear 0s 1 both;
    animation: nav_open_anim 0.5s linear 0s 1 both;
}
@keyframes nav_open_anim {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -30px);
        transform: translate(0, -30px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.nav_close {
    -webkit-animation: nav_close_anim 0.5s linear 0s 1 both;
    animation: nav_close_anim 0.5s linear 0s 1 both;
}
@keyframes nav_close_anim {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -30px);
        transform: translate(0, -30px);
    }
}

/* media queries starts here */
@media only screen and (max-width: 1280px) {
    .main-content .left-side .text {
        font-size: 5rem;
        line-height: 100px;
    }
    .main-content .left-side .text h1 {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 992px) {
    .main-content .left-side .text {
        font-size: 3rem;
        line-height: 68px;
    }
    .main-content .left-side .text h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width:769px) {
    /* main content section starts here */
    .main-content {
        overflow: auto;
        padding-top: 48px;
    }
    .main-content .left-side {
        width: 100%;
        padding-top: 30px;
        align-items: flex-start;
    }
    .main-content .left-side .text {
        margin-top: 80px;
    }
    .main-content .right-side {
        display: none;
        text-align: right;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        width: 100%;
    }
    .main-content .right-side .img img {
        width: 68%;
    }
    .scroll-svg-container {
        bottom: 10%;
    }
    footer {
        display: block;
        margin-top: 120px;
    }
    /* main content section ends here */
}

@media only screen and (max-width:480px) {
    html { font-size: 20px; }
}

@media only screen and (max-width: 425px) {
    .main-content .right-side .img img {
        width: 80%;
    }
}