* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 25px;
  font-family: Arial;
  scroll-behavior: smooth !important;
  /* ----- THE SECRET ---- */
}

.inner {
  width: 90%;
  margin: 0 5%;
}

/* header starts */
header {
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 8px;
  padding-left: 10px;
  background-color: #0f0f0f;
  position: absolute;
  top: 0;
  z-index: 10;
}

header .logo {
  color: coral;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 1px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  list-style: none;
  padding-right: 28px;
}

li a {
  text-decoration: none;
  color: cornflowerblue;
}

header nav button {
  padding: 0 4px;
  font-size: 0.8rem;
  background: none;
  border: 0;
  border-radius: 4px;
  display: none;
}

#btn-check {
  color: cornflowerblue;
}

#btn-close {
  color: red;
}

.merg {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 48px;
}

/* video */
#video1 {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  z-index: 0;
}

/* top-page starts */
.top-page {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  z-index: 1;
}

.top-page button {
  margin-top: 23%;
  border: 0;
  background: none;
  cursor: pointer;
  width: 200px;
}

.top-page a {
  text-decoration: none;
  -webkit-animation: btnstart 3s linear 0s infinite forwards;
          animation: btnstart 3s linear 0s infinite forwards;
}

@-webkit-keyframes btnstart {
  0% {
    color: blue;
  }
  10% {
    color: green;
  }
  20% {
    color: greenyellow;
  }
  30% {
    color: orange;
  }
  40% {
    color: orangered;
  }
  50% {
    color: red;
  }
  60% {
    color: coral;
  }
  70% {
    color: tomato;
  }
  80% {
    color: cornflowerblue;
  }
  90% {
    color: skyblue;
  }
  100% {
    color: blue;
  }
}

@keyframes btnstart {
  0% {
    color: blue;
  }
  10% {
    color: green;
  }
  20% {
    color: greenyellow;
  }
  30% {
    color: orange;
  }
  40% {
    color: orangered;
  }
  50% {
    color: red;
  }
  60% {
    color: coral;
  }
  70% {
    color: tomato;
  }
  80% {
    color: cornflowerblue;
  }
  90% {
    color: skyblue;
  }
  100% {
    color: blue;
  }
}

/* start starts */
#start {
  width: 100%;
  min-height: 100%;
  position: relative;
  top: 40px;
}

#start ul {
  background-color: #0f0f0f;
  padding: 10px 10px;
}

#start .navbtnwork {
  color: cornflowerblue;
  cursor: pointer;
  opacity: 0;
}

#video2 {
  position: relative;
  z-index: 0;
}

#start main {
  position: absolute;
  top: 150px;
}

#start .layouts {
  padding: 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
}

#layout1, #layout2, #layout3 {
  width: 28.57143%;
  height: 200px;
  padding-top: 58px;
  border: 1px solid  coral;
  border-radius: 5px;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 38px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* transition: all 1s linear 0s; */
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#layout4, #layout5, #layout6 {
  width: 28%;
  height: 200px;
  padding-top: 58px;
  border: 1px solid  coral;
  border-radius: 5px;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 38px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* transition: all 1s linear 0s; */
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  margin-top: 78px;
}

#layout1 {
  background-image: url("../img/Screenshot.png");
}

#layout2 {
  background-image: url("../img/Screenshot 2.png");
  color: #694477;
}

#layout3 {
  background-image: url("../img/Screenshot 3.png");
  color: purple;
}

#layout4 {
  background-image: url("../img/Alchemy.png");
}

#layout5 {
  background-image: url("../img/Zaza.png");
}

#layout6 {
  background-image: url("../img/Cascade.png");
}

#layout1 a, #layout2 a, #layout3 a, #layout4 a, #layout5 a, #layout6 a {
  color: inherit;
  text-decoration: none;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#layout1:hover, #layout2:hover, #layout3:hover, #layout4:hover, #layout5:hover, #layout6:hover {
  background-clip: border-box;
  -webkit-background-clip: border-box;
  color: transparent;
  -webkit-transform: scale(1.4) rotateY(360deg);
          transform: scale(1.4) rotateY(360deg);
  /* <- importan */
}

#work {
  border-bottom: 0px solid cornflowerblue;
}

#home1, #home2 {
  border-bottom: 0px solid cornflowerblue;
}

/* footer starts */
footer {
  padding: 10px 0px;
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

footer .social a {
  font-size: 1.2rem;
  text-decoration: none;
  letter-spacing: 38px;
  color: coral;
}

@media only screen and (max-width: 1100px) {
  footer {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  body {
    background-color: #000;
  }
  nav ul {
    opacity: 0;
  }
  li a {
    font-size: 0.8rem;
    padding-top: 4px;
  }
  #btn-check {
    display: block;
    margin-right: 10px;
  }
  #btn-close {
    margin-right: 10px;
    padding: 0 6px;
  }
  .merg {
    height: 50vh;
  }
  #start ul li {
    opacity: 0;
  }
  #start main {
    top: 80px;
  }
  #start .navbtnwork {
    opacity: 1;
  }
  #layout1, #layout2, #layout3, #layout4, #layout5, #layout6 {
    width: 100%;
    margin-bottom: 38px;
    margin-top: 0;
  }
  #layout1:hover, #layout2:hover, #layout3:hover, #layout4:hover, #layout5:hover, #layout6:hover {
    -webkit-transform: scale(1.1) rotateY(360deg);
            transform: scale(1.1) rotateY(360deg);
    /* <- importan */
  }
}

@media only screen and (max-width: 490px) {
  .merg {
    top: 8px;
  }
  #start {
    top: 0px;
  }
  header {
    padding-top: 5px;
    height: 28px;
    background: none;
  }
  header .logo h1 {
    font-size: 0.8rem;
  }
  #btn-check, #btn-close {
    font-size: 1.1rem;
  }
  nav ul {
    margin-top: -6px;
  }
  nav ul li a, #down-btn a h1, #start ul li a {
    font-size: 0.7rem;
  }
  #start ul {
    padding: 3px 10px;
    background: none;
  }
  #video1 {
    height: 100%;
  }
  #video2 {
    top: -3px;
  }
}

@media (max-width: 450px) {
  nav ul li a, #down-btn a h1, #start ul li a, #start ul li {
    font-size: 0.5rem;
  }
  ul li {
    padding-right: 11px !important;
  }
}
/*# sourceMappingURL=style.css.map */