* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 25px;
}

body {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

@import "navigation";

.sec1 {
    width: 100%;
    height: 100vh;
}
.sec1 iframe {
    width: 100%;
    height: 100vh;
}
.sec1 .sec1_inside {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}
.sec1_click {
    font-size: 0.8rem;
    text-align: center;
    cursor: pointer;
}


main {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
main section {
    width: 100%;
    height: 100%;
    padding: 130px 50px 50px 50px;
    overflow-y: scroll;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    scroll-behavior: smooth;
    position: relative;
}
main section .back_btn {
    font-size: 0.7rem;
    font-weight: bold;
    color: cornflowerblue;
    position: absolute;
    top: 95px;
    left: 19px;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
main section .back_btn span {
    font-size: 0.8rem;
    font-weight: 900;
}
main section .mytop {
    position: absolute;
    top: 0;
    left: 0;
}
main .back_to_top {
    font-size: 1rem;
    font-weight: bold;
    color: coral;
    position: absolute;
    right: 30px;
    bottom: 10px;
    transition-duration: 0.5s;
}
main .back_to_top:hover {
    bottom: 18px;
}
main .back_to_top a {
    text-decoration: none;
    color: inherit;
}
main .layouts {
    width: 48%;
    margin-bottom: 35px;
}
.layouts a {
    text-decoration: none;
    color: inherit;
}
.layouts img {
    width: 100%;
    margin-bottom: 5px;
}
.layouts figcaption {
    padding: 0 10px;
    color: coral;
    font-size: 0.55rem;
    text-align: left;
}
.layouts figcaption h1 {
    margin-bottom: 5px;
}



.active {
    border: 1px solid cornflowerblue;
    border-radius: 8px;
    box-shadow: 0 0 5px 3px #fff;
    background-color: cornflowerblue;
    color: #fff;
}



/* animations starts here */
.text_color_anima {
    /*         name, duration, timing function, delay, iteration count, fill mode */
    -webkit-animation: text_color 2s linear 0s infinite both;
    animation: text_color 2s linear 0s infinite both;
}
@keyframes text_color {
    0% { color: cornflowerblue; }
    10% { color: coral; }
    20% { color: green; }
    30% { color: violet; }
    40% { color: purple; }
    50% { color: yellow; }
    60% { color: orange; }
    70% { color: navy; }
    80% { color: grey; }
    90% { color: teal; }
    100% { color: goldenrod; }
}

.layout_img_anim {
    border-radius: 4px;
    -webkit-animation: layout_img 1s linear 0s infinite both;
    animation: layout_img 1s linear 0s infinite both;
}
@keyframes layout_img {
    0% {
        -webkit-transform: translate(-8px, 0px);
        transform: translate(-8px, 0px);
    }
    25% {
        -webkit-transform: translate(0px, -8px);
        transform: translate(0px, -8px);
    }
    50% {
        -webkit-transform: translate(8px, 0px);
        transform: translate(8px, 0px);
    }
    75% {
        -webkit-transform: translate(0px, 8px);
        transform: translate(0px, 8px);
    }
    100% {
        -webkit-transform: translate(-8px, 0px);
        transform: translate(-8px, 0px);
    }
}

.main_sec_anim {
    -webkit-animation: main_sec_anim 0.5s linear 0s 1 both;
    animation: main_sec_anim 0.5s linear 0s 1 both;
}
@keyframes main_sec_anim {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -100%) scale(0.3);
        transform: translate(0, -100%) scale(0.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(0, 0) scale(0.3);
        transform: translate(0, 0) scale(0.3);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
    }
}

.main_sec_anim2 {
    -webkit-animation: main_sec_anim2 0.5s linear 0s 1 both;
    animation: main_sec_anim2 0.5s linear 0s 1 both;
}
@keyframes main_sec_anim2 {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(0, 0) scale(0.3);
        transform: translate(0, 0) scale(0.3);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-100%, 0) scale(0.3);
        transform: translate(-100%, 0) scale(0.3);
    }
}

.nav_open {
    -webkit-animation: nav_open_anim 0.5s linear 0s 1 both;
    animation: nav_open_anim 0.5s linear 0s 1 both;
}
@keyframes nav_open_anim {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -30px);
        transform: translate(0, -30px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.nav_close {
    -webkit-animation: nav_close_anim 0.5s linear 0s 1 both;
    animation: nav_close_anim 0.5s linear 0s 1 both;
}
@keyframes nav_close_anim {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -30px);
        transform: translate(0, -30px);
    }
}


/* media queries starts here */
@media only screen and (max-width:769px) {

    main section {
        justify-content: center;
    }
    main .layouts {
        width: 90%;
    }

}

@media only screen and (max-width:426px) {
    html {
        font-size: 20px;
    }
}