* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 25px;
}

body {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 80px;
  background-color: #0f0f0f;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

nav {
  width: 100%;
  height: 80px;
  padding: 0 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.brand_name {
  color: coral;
  font-weight: bold;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

nav ul li {
  list-style-type: none;
  margin-right: 20px;
  padding: 5px 10px;
  border: 1px solid #0f0f0f;
  border-radius: 8px;
  color: cornflowerblue;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

nav ul li:hover {
  border: 1px solid cornflowerblue;
  -webkit-box-shadow: 0 0 2px 3px cornflowerblue;
          box-shadow: 0 0 2px 3px cornflowerblue;
}

nav .btn_toggle {
  display: none;
  color: cornflowerblue;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/* media query starts here */
@media only screen and (max-width: 769px) {
  nav ul {
    display: none;
    width: 100%;
    padding: 18px 20px;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #0f0f0f;
  }
  nav .btn_toggle {
    display: block;
  }
}

@media only screen and (max-width: 426px) {
  header {
    height: 58px;
  }
  nav {
    height: 58px;
  }
  nav ul {
    top: 58px;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  nav ul li {
    margin: 0;
    margin-bottom: 18px;
    padding: 5px 10px;
  }
}

.active {
  border: 1px solid cornflowerblue;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 5px 3px #fff;
          box-shadow: 0 0 5px 3px #fff;
  background-color: cornflowerblue;
  color: #fff;
}

main {
  width: 100%;
  height: 100vh;
  background-color: #000;
  padding: 100px 50px 0 50px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  overflow-y: auto;
}

main section {
  width: 50%;
}

main section ul {
  display: none;
  width: 90%;
  background-color: #fff;
  color: red;
  line-height: 43px;
  margin: 40px auto 0 auto;
  padding: 20px;
  border-radius: 10px;
}

main section ul li {
  margin: 0 0 0 43px;
}

main section p {
  font-size: 0.8rem;
  font-weight: 400;
  color: red;
  margin: 33px 0 0 30px;
}

main form .form_grp:nth-child(1) {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  color: red;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

main form .form_grp:nth-child(2) {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  color: green;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

main form .form_grp:nth-child(3) {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  color: blue;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

main form .form_grp input {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

main form textarea {
  display: block;
  width: 100%;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
}

main form input[type="submit"] {
  margin-top: 30px;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: .8rem;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

main form input[type="submit"]:hover {
  background-color: red;
  color: #fff;
}

@media only screen and (max-width: 1000px) {
  main form .form_grp {
    font-size: 0.8rem !important;
  }
  main form input[type="submit"] {
    font-size: .7rem;
  }
  main section {
    width: 100%;
  }
  main section ul {
    width: 100%;
    margin: 38px 0 0 0;
    padding: 10px;
    line-height: 33px;
  }
  main section ul li {
    margin: 0 0 0 33px;
  }
  main section p {
    margin: 33px 0 20px 0;
    font-size: 0.58rem;
  }
}

@media only screen and (max-width: 376px) {
  main {
    padding: 80px 30px 0 30px;
  }
  main section ul {
    font-size: 0.58rem;
    line-height: 25px;
  }
  main section ul li {
    margin: 0 0 0 23px;
  }
  main section p {
    font-size: 0.50rem;
  }
}
/*# sourceMappingURL=style.css.map */